#slide1{
	background: url(../images/slide-1-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide2{
	background: url(../images/slide-2-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide3{
	background: url(../images/slide-3-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide4{
	background: url(../images/slide-4-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide5{
	background: url(../images/slide-5-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide6{
	background: url(../images/slide-6-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
#slide7{
	background: url(../images/slide-7-bg.jpg) 0 0 no-repeat;
	background-size: cover;
} 
#slide8{
	background: url(../images/slide-8-bg.jpg) 0 0 no-repeat;
	background-size: cover;
} 
#slide9{
	background: url(../images/slide-9-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}