body {
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: #fff; }

#slide1 {
  background: url(../images/slide-1-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide2 {
  background: url(../images/slide-2-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: 50%; }

#slide3 {
  background: url(../images/slide-3-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide4 {
  background: url(../images/slide-4-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide5 {
  background: url(../images/slide-5-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide6 {
  background: url(../images/slide-6-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide7 {
  background: url(../images/slide-7-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide8 {
  background: url(../images/slide-8-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#slide9 {
  background: url(../images/slide-9-bg.jpg) 0 0 no-repeat;
  background-size: cover; }

#nav-wrap {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
  #nav-wrap #fsvs-pagination {
    margin: 0;
    padding-left: 17px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
    #nav-wrap #fsvs-pagination li {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #nav-wrap #fsvs-pagination li i {
        display: inline-block;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.6px;
        padding-left: 16px; }
    #nav-wrap #fsvs-pagination li > span {
      position: relative; }
      #nav-wrap #fsvs-pagination li > span:after {
        display: none;
        content: '';
        width: 11px;
        height: 1px;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        top: 7px;
        right: -23px;
        overflow: hidden;
        margin-right: -23px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
    #nav-wrap #fsvs-pagination li.active > span {
      margin-right: 11px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      #nav-wrap #fsvs-pagination li.active > span:after {
        margin-right: 0;
        background: white; }

#burgerBtn {
  width: 38px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0 12px 0;
  cursor: pointer;
  position: absolute;
  top: 1.8%;
  left: 5px; }
  #burgerBtn:hover {
    background: rgba(0, 0, 0, 0.15); }
  #burgerBtn span {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 1.5px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
    position: relative; }
    #burgerBtn span:before {
      content: '';
      width: 100%;
      height: 1.5px;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      position: absolute;
      top: -5px;
      left: 0; }
    #burgerBtn span:after {
      content: '';
      width: 100%;
      height: 1.5px;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, white 25%, white 49%, white 75%, rgba(255, 255, 255, 0.7) 100%);
      position: absolute;
      bottom: -5px;
      left: 0; }

#nav-wrap.open {
  width: 130px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  #nav-wrap.open #fsvs-pagination {
    padding-left: 10px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    #nav-wrap.open #fsvs-pagination li > span:after {
      display: block !important; }
  #nav-wrap.open #burgerBtn {
    background: rgba(0, 0, 0, 0.15); }

#langNavHolder {
  width: 39px;
  text-align: center;
  position: absolute;
  top: 11%;
  left: 5px; }
  #langNavHolder a {
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0; }
    #langNavHolder a:hover {
      background: rgba(0, 0, 0, 0.15); }
  #langNavHolder .engl {
    margin-bottom: 8px; }

#socialLinksBox {
  width: 39px;
  text-align: center;
  position: absolute;
  bottom: 8.5%;
  left: 5px; }
  #socialLinksBox a {
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 3px 0; }
    #socialLinksBox a:hover {
      background: rgba(0, 0, 0, 0.15); }
  #socialLinksBox .fb, #socialLinksBox .in {
    margin-bottom: 5px; }

.logo {
  display: block;
  width: 150px;
  padding: 15px; }
  .logo img {
    width: 100%; }

.web-content {
  width: 67.5%;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .web-content .glass {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(100%) translateY(-7rem);
    transform: translateY(100%) translateY(-7rem) translateZ(0); }
    .web-content .glass:before {
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      display: block;
      position: absolute;
      content: ' ';
      background-image: url("../images/slide-2-bg.jpg");
      background-position: 50%;
      -webkit-filter: url("#blur");
      -moz-filter: url("#blur");
      -ms-filter: url("#blur");
      -o-filter: url("#blur");
      filter: url("#blur");
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      -o-filter: blur(5px);
      filter: blur(5px);
      opacity: 0.4;
      transform: translateY(-100%) translateY(7rem);
      transform: translateY(-100%) translateY(7rem) translateZ(0); }
    .web-content .glass .colums-content {
      padding-bottom: 25px;
      position: relative;
      overflow: hidden; }
      .web-content .glass .colums-content:before, .web-content .glass .colums-content:after {
        content: '';
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 5px; }
      .web-content .glass .colums-content:before {
        left: 5px; }
      .web-content .glass .colums-content:after {
        right: 5px; }
      .web-content .glass .colums-content h2 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
        padding: 25px 10px 0 10px;
        position: relative; }
        .web-content .glass .colums-content h2:before {
          content: '';
          width: 5px;
          height: 5px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 5px; }
      .web-content .glass .colums-content .text {
        line-height: 22px;
        padding: 0 25px; }
        .web-content .glass .colums-content .text p {
          margin-bottom: 23px; }
      .web-content .glass .colums-content .left-part {
        width: 49%;
        float: left; }
      .web-content .glass .colums-content .right-part {
        width: 49%;
        float: right; }
