.clearfix:after, .cf:after {
  content: "";
  display: table;
  clear: both; }

.skip-link {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px; }



.sep {
  margin: 0 11px; }

.container {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding: 0 1em;
  max-width: 400px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 796px; } }
  @media screen and (min-width: 978px) {
    .container {
      max-width: 1006px; } }
  @media screen and (min-width: 1218px) {
    .container {
      max-width: 1246px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  height: 100%; }

body {
  min-height: 100%; }

.lede, .lead {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 1.16667; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

html.fsvs {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }
  html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    html.fsvs #fsvs-body > * {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000; }
  html.fsvs #fsvs-pagination {
    display: inline-block;}
    html.fsvs #fsvs-pagination li {
      list-style: none;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin: 0 0 4px 0;
      cursor: pointer; }
      html.fsvs #fsvs-pagination li > span {
        -webkit-border-radius: 100%;
        border-radius: 100%;
        width: 17px;
        height: 17px;
        line-height: 17px;
        display: block; }
        html.fsvs #fsvs-pagination li > span > span {
          -webkit-border-radius: 100%;
          border-radius: 100%;
          width: 9px;
          height: 9px;
          line-height: 9px;
          border: 1px solid white;
          background: #fff;
          display: block;
          margin: 3px; }
      html.fsvs #fsvs-pagination li.active > span {
        border: 1px solid #fff; }
        html.fsvs #fsvs-pagination li.active > span > span {
          background: white; }
      html.fsvs #fsvs-pagination li:last-child {
        margin: 0; }
